.form-builder__elements > h4 {
  padding: 1rem;
}

.form-elements-list__element {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  &:first-child {
    border-top: var(--border);
  }
  /* TODO change color */
  &:hover {
    background-color: red;
  }
}

.form-elements-list__element-icon {
  margin-right: 10px;
}

.form-elements-list__element-name {
  font-size: 1rem;
  font-weight: 500;
}
