.element {
  border: var(--border);
  border-radius: var(--radius-4);
  padding: 1rem;
}

.element.multiline {
  padding: 3rem 1rem;
  border: var(--border);
  border-radius: var(--radius-4);
}

.radio {
  border-radius: 50%;
}

.checkbox {
  border-radius: 10%;
}
