.editor-form-element {
  border: var(--border);
  border-radius: var(--radius-1);
  padding: 1rem;
}
.editable-field__read.form-header {
  text-align: center;
  font-weight: 600;
  display: block;
}

.editor-form-element-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-radius: var(--radius-4);
  border: var(--border-bold);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
