.form-builder__elements > h4 {
  padding: 1rem;
}

.form-elements-list__element {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: var(--border);
  background: var(--list-background);

  transition: color 0.3s ease;

  &:first-child {
    border-top: var(--border);
  }

  &:hover {
    cursor: pointer;
    color: var(--primary-main);
  }
}

.form-elements-list__element-icon {
  margin-right: 10px;
}

.form-elements-list__element-name {
  font-size: 1rem;
  font-weight: 500;
}
