.form-builder__container {
  display: flex;
  justify-content: space-between;
}

.form-builder__elements {
  width: 30%;
  border-top: var(--border);
  border-right: var(--border);
  border-radius: var(--radius-1);
  box-shadow: var(--box-shadow);
  text-align: center;
  height: fit-content;
}

.form-builder__settings {
  width: 25%;
}

.form-builder__form {
  width: 100%;
}
